body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

h1 {
    margin-bottom: 20px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
